// arduino_secrets.h.template
// Copy this file to arduino_secrets.h and fill in your own values.
// arduino_secrets.h is listed in .gitignore and will never be committed.

#define SECRET_SSID    "your_wifi_ssid"
#define SECRET_PASS    "your_wifi_password"

#define SECRET_TS_KEY  "your_thingspeak_write_api_key"

#define SECRET_OWM_KEY "your_openweathermap_api_key"
#define SECRET_CITY    "YourCity"
#define SECRET_COUNTRY "IN"
